*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width:100%;

}

#main{
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
}

#nav{
    height: 15vh;
    
    width:100%;
    /* background-color: palegreen; */
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;

}

#nav h3{
    font-size: 30px;
    font-weight: 400;
}
#links{
    display: flex;
    justify-content: space-between;
    gap:20px;
    align-items: center;
    padding: 0 12px;
}

#links a{
    padding:20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color:black;
}

#heading{
    width: 60%;
    height: 40vh;
    /* background-color: blanchedalmond; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:0 auto;
    padding: 30px;
    text-align: center;

    
}
#heading h1{
    font-size: 50px;
    padding:0 20px;
    font-weight: 900;



}
#heading p{
    font-size: 20px;
    margin:20px 13px;
    font-weight: 500;
}

#heading button{
    padding: 12px 30px;
    margin:12px 0;
    border-radius: 100px;
    background-color: black;
    color:white;
}
#image{
    width:100%;
}
#image img{
    width: 100%;
}

#data{
    display:flex;
    width:100%;
    align-items: center;
    justify-content: center;
    padding:40px;
}
#data-left{
    width:48%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-right: 2px solid black;
    text-align: right;
}
#data-left h2{
    margin-right: 20px;
    font-size: 40px;
}
#data-left p{
    margin-right: 20px;
    font-size: 12px;
    margin-left: 30px;
    margin-top:20px;
    align-items: center;
}

#data-right{
    width: 48%;
    display: flex;
    text-align: left;
}

#info{
    display: flex;
    flex-direction: column;
    text-align: left;
}
#info h2{
    margin-right: 20px;
    font-size:40px;

}
#img{
    margin: 20px;

}

#info p{
    
    
    font-size: 12px;
    
    margin-top:20px;
    align-items: center;

}

